@charset "utf-8";

/**
 * Container
 */
.cs_container {
	border: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.cs_input {
	background-color: white;
	border-radius: 4px 0 0 4px;
	border-right: none;
	border: 1px solid #79b;
	box-shadow:         1px 1px 1px rgba(0,0,0,0.2) inset;
	-moz-box-shadow:    1px 1px 1px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2) inset;
	margin: 0px !important;
	/* width: 320px; */
	
	
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	min-height: 20px;
	padding: 4px 6px;
	vertical-align: middle;
	display: block;
	box-sizing: content-box;
	/* width: 100%; */
}





.cs_container_open .cs_input {
	border-radius: 0px 0px 0 0 !important;
}

/**
 * "Get all" button
 */
div.cs_button {
	display: inline-block;
	border: 1px solid #79b;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	cursor: pointer;
	text-align: center;
	/*   
	width: 32px;
	height: 32px;
	*/
	box-sizing: border-box;
  
    border: 0px;
    border-left: 0px;
    width: 24px;
    height: 29px;
    /* right: 24px; */
    padding: 0px;
    vertical-align: middle;
    line-height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
div.cs_button {
    /* border: 1px solid #CCCCCC; */
    border: 0px;
    border-left: 0px;
    width: 24px;
    height: 28px;
    /* right: 24px; */
    padding: 0px;
    vertical-align: middle;
    line-height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.cs_container_open > .cs_button {
  border-bottom-right-radius: 0 !important;
}

.cs_button > img {
  top: 6px;
  left: 8px;
  height: 16px;
  position: absolute;
  width: 16px;
}

.cs_btn_out {
  background: #bde;
  background-image: linear-gradient(to bottom, #eeffff, #99aabb);
}

.cs_btn_on {
  background: #dee;
  background-image: linear-gradient(to bottom, #ffffff, #bbbbcc);
}

/**
 * Results
 */
.cs_result_area {
	/* background-color: transparent; */
	background-color: white;
	border-top: 0;
	border: 1px solid #79b;
	box-shadow:         2px 2px 2px rgba(0,0,0,0.4);
	-moz-box-shadow:    2px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 100;
	width: 300px;
}

.cs_results {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_results > li {
	height: auto !important;
	line-height: 1;
	margin: 0;
	overflow: hidden;
	padding: 3px 5px;
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-size: 12px;
	color: black;
	cursor : pointer;
}

.cs_results > li:nth-child(odd){
	/* background-color: #EEEEEE; */
	background-color: #EBF2FC;
}

ul.cs_results > li.cs_over {
	background-color: #53A4EA !important;
	color: #fff !important;
	cursor: pointer;
}

ul.cs_results > li.cs_selected {
	background-color: #def;
	font-weight: bold;
	color: blue;
}



/**
 * 多选模式相关样式
 */
div.cs_container_combo{
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: content-box;
}
div.cs_container_combo.cs_container_open{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    border: 1px solid #75B9F0;
}
input.cs_combo_input{
	border: 0px;
	box-shadow: none;
	background-color: transparent;
	max-width: 100%;
	padding: 0px;
	height: 30px !important;
	line-height: 30px !important;
	min-height: 30px !important;
}
input.cs_combo_input:focus {
	box-shadow: none;
}
ul.cs_element_box{
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	clear: both;
	cursor: text;
	margin-right: 24px;
	margin-bottom: 2px;
	list-style: none;
	height: auto;
}
ul.cs_element_box > li{
	list-style: none;
	padding: 0px 5px;
	margin-left: 5px;
	margin-top: 3px;
	/* margin-bottom: 2px; */
	float: left;
	height: 21px;
	line-height: 21px;
	position: relative;
}
ul.cs_element_box li.full_width {
	width: 100%;
}
ul.cs_element_box li.full_width input{
	width: 100% !important;
}
ul.cs_element_box li.selected_tag {
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	background-color: #EFEFEF;
	cursor: pointer;
	max-width: 100%;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
}
ul.cs_element_box li.input_box {
	padding: 0px;
	/* margin: 0px; */
	margin-top: 0px;
	height: 26px;
	min-height: 26px;
}
ul.cs_element_box li.selected_tag span.tag_close {
	cursor: pointer;
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
}


/**
 * 加深颜色表示非选中
 */
.cs_results_off {
  background: rgba(255, 255, 255, 0.8);
}

.cs_input_off {
  background: #eee;
  color: #555;
}

.cs_hide {
  display: none;
}

/**
 * Navi
 */
.cs_navi {
  background: #eee;
  border-bottom: 1px solid #79b;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 4px;
  text-align: right;
}

.cs_navi > p > a:link,
.cs_navi > p > a:visited,
.cs_navi > p > a:hover,
.cs_navi > p > a:active {
  color: blue;
  font-weight: normal;
  margin: 0 4px;
  text-decoration: underline;
}

.cs_navi > p {
  color: black;
  font-size: 15px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
}

.cs_navi > p > a >.current {
  color: #00c;
  font-size: 16px;
  font-weight: bold;
}

.cs_navi > p >.page_end {
  color: gray;
  font-weight: normal;
  margin: 0 4px;
}

.navi_page,
.navi_first,
.navi_prev,
.navi_next,
.navi_last {
  margin: auto 4px !important;
}

.cs_navi > .info {
  margin: 0 !important;
  padding: 0 !important;
}

/**
 * Select only
 */
.cs_container > .cs_select_ng {
  background: #fcc;
}







/*输入框设置了input-block-level样式时的特殊情况修复*/
div.cs_container input.cs_input.input-block-level{
	box-sizing:border-box;
	height: 30px;
	line-height: 30px;
	min-height: 30px;
	width: 100%;
}

div.cs_container_open .cs_input::-ms-clear{display:none;}
/* 移除微软浏览器，在输入框输入文本后，会出现X的问题，but is look like not working */
input::-ms-clear{display:none;}/*隐藏文本框叉子*/
input::-ms-reveal{display:none;}/*隐藏密码框小眼睛*/

div.cs_btn_out,div.cs_btn_on {
	background: none;
}
div.cs_button span.caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -1px;
    vertical-align: middle;
}
div.cs_result_area.shadowDown{
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 10px 30px rgba(0,0,0,0.5);	
}
div.cs_result_area.shadowUp{
	box-shadow: 0px -5px 30px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -5px 30px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px -5px 30px rgba(0,0,0,0.5);
}
div.cs_navi > p {
	font-size: 12px;
}




/**
 * 分页条样式（基于Bootstrap2的样式进行调整）
 */
div.cs_result_area div.pagination {
	margin: 0px;
	padding: 0px;
	height: 25px;
	line-height: 25px;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
div.cs_result_area div.pagination ul {
	width: 100%;
}
div.cs_result_area div.pagination li{
	text-align: center;
}
div.cs_result_area div.pagination>ul>li>a {
	margin: 0px;
	border-radius: 0px;
	border-top: 0px;
	border-bottom: 0px;
	padding: 0px;
	line-height: 24px;
}

div.cs_result_area div.pagination li.csFirstPage a,
div.cs_result_area div.pagination li.csPreviousPage a,
div.cs_result_area div.pagination li.csNextPage a,
div.cs_result_area div.pagination li.csLastPage a {
	width: 30px;
}
div.cs_result_area div.pagination li.csFirstPage a{
	border-left: 0px;
}
div.cs_result_area div.pagination li.csLastPage a{
	border-right: 0px;
}

div.cs_result_area div.pagination>ul>li.disabled>a:hover {
	color: #999999;background-color: white;
}
div.cs_result_area div.pagination>ul>li>a:hover {
	color: #005580; background-color: #F5F5F5;
}

div.cs_result_area div.pagination>ul>li.pageInfoBox>a {
	width: 176px;
	text-align: center;
	/* padding-left: 4px;
	padding-right: 4px; */
}